@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên : 2310900110 </p>
<p>Họ và tên : Nguyễn Mạnh Tuấn</p>
<p>Lớp : K23CNT2</p>
<p>Email : nguyenmanhtuantuan12@gmail.com</p>
<p>Điện thoại : 0123456789 </p>