﻿

@{
	ViewData["title"] = "Thong tin sinh vien";

}
<h1>@ViewData["title"]</h1>
<hr />
<div class="alert alert-info">
	<p>Ma sinh vien:2310900110</p>
	<p>Ho va ten:Nong Manh Tuan</p>
	<p>Email:nongv=manhtuancb2k5@gmail.com</p>
	<p>SDT:12344567789</p>

</div>