﻿
@{
    ViewData["Title"] = "Thông tin SV";
}

<div class="alert alert-info">
    <h1>Thông tin SV</h1>
    <hr />
    <p>MSV : 2310900110</p>
    <p>Name : Nguyễn Mạnh Tuấn </p>
    <p>Class : K23CNT2</p>
    <p>Email : nguyenmanhtuantuan58@gmail.com</p>
    <p>Phone : 0123456789</p>
</div>