<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Nmtlesson04 -
        <a asp-area="" asp-controller="NmtHome" asp-action="NmtAbuot">
            Thong tin sinh vien
        </a>
    </div>
</footer>
