@{
    ViewData["Title"] = "Privacy Policy";
}


<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên :2300123232/p>
    <p>Họ và tên:Nguyễn Mạnh Tuấn </p>
    <p>Email: nguyentuan@gmail.com</p>
    <p>Điện thoại :0988686869</p
    <p>Lớp: K23CNT2</p>
</div>
